<h2>Employment</h2>
<mat-list>
  <mat-list-item>
    <strong>Ionic - Software Engineer</strong>
  </mat-list-item>
  <mat-list-item>
    February 2015 - December 2018
  </mat-list-item>
  <mat-list-item>
    Working primarily with the enterprise-focused side of the company, developed everything from native iOS and Android
    plugins and React or Angular web apps to Python REST API’s and Go-based workers.
  </mat-list-item>
</mat-list>
<mat-list>
  <mat-list-item>
    <strong>Pied Piper LLC - Consultant</strong>
  </mat-list-item>
  <mat-list-item>
    Fall 2014 - February 2015
  </mat-list-item>
  <mat-list-item>
    Contract software developer building custom software solutions for local Madison businesses.
  </mat-list-item>
</mat-list>
<mat-list>
  <mat-list-item>
    <strong>ReviewSage - Development Lead</strong>
  </mat-list-item>
  <mat-list-item>
    Spring 2014 - Fall 2014
  </mat-list-item>
  <mat-list-item>
    Engineering lead for a small software startup in Madison. Helped build powerful data analysis tools helping 
    businesses gain insight from online discourse and reviews.
  </mat-list-item>
</mat-list>
<mat-list>
  <mat-list-item>
    <strong>Get Weird Games - Founder/CEO</strong>
  </mat-list-item>
  <mat-list-item>
    Fall 2013 - Spring 2014
  </mat-list-item>
  <mat-list-item>
    Worked with a team to design, develop, and deploy a social-enabled Android game with over 5,000 accounts 
    registered.  Lead Android developer while also overseeing daily operation of the company.
  </mat-list-item>
</mat-list>