<h2>Employment</h2>
<h3>Ionic</h3>
<ul>
  <li>
    <h4><strong>Software Engineer</strong></h4>
  </li>
  <li>
    <h4>February 2015 - December 2018</h4>
  </li>
  <li>
    <h4>
      Working primarily with the enterprise-focused side of the company, developed everything from native iOS and
      Android plugins and React or Angular web apps to Python REST API’s and Go-based workers.
    </h4>
  </li>
</ul>
<h3>Pied Piper LLC</h3>
<ul>
  <li>
    <h4><strong>Consultant</strong></h4>
  </li>
  <li>
    <h4>Fall 2014 - February 2015</h4>
  </li>
  <li>
    <h4>
      Contract software developer building custom software solutions for local Madison businesses.
    </h4>
  </li>
</ul>
<h3>ReviewSage</h3>
<ul>
  <li>
    <h4><strong>Development Lead</strong></h4>
  </li>
  <li>
    <h4>Spring 2014 - Fall 2014</h4>
  </li>
  <li>
    <h4>
      Engineering lead for a small software startup in Madison. Helped build powerful data analysis tools helping 
      businesses gain insight from online discourse and reviews.
    </h4>
  </li>
</ul>
<h3>Get Weird Games</h3>
<ul>
  <li>
    <h4><strong>Founder/CEO</strong></h4>
  </li>
  <li>
    <h4>Fall 2013 - Spring 2014</h4>
  </li>
  <li>
    <h4>
      Worked with a team to design, develop, and deploy a social-enabled Android game with over 5,000 accounts 
      registered.  Lead Android developer while also overseeing daily operation of the company.
    </h4>
  </li>
</ul>