@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
}

.resume-container {
    height: 100vh;
}

.mat-card {
    margin: auto;
    max-width: 60%;
}