<mat-card>
  <mat-card-title>About Me</mat-card-title>
  <mat-card-content>
    <p>
      I’m an experienced Software Engineer with a demonstrated history in the software industry. Skilled in JavaScript with
      a focus on frameworks like Angular and React as well as Python and Ruby, I’m an engineering professional with a 
      Bachelor of Science (BS) focused in Computer Science from University of Wisconsin-Madison. 
    </p>
    <p>
      In previous employment, I’ve taken responsibilities ranging from the development of client-facing native mobile 
      applications and websites, to management of databases and REST API’s, running the gamut of the modern web stack. With
      an eye for user experience, I look forward to opportunities that present themselves throughout the myriad needs of 
      modern software companies.    
    </p>
  </mat-card-content>
</mat-card>
